<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit List {{ list.name }}</title>
</head>
<body>
<h2>Details for list "{{ list.name }}"</h2>
<ul>
{% for item in items %}
    <li>{{ item.text }} <a href="{% url 'core:delete_item_from_list' list.id item.id %}">[delete]</a> </li>
{% endfor %}
</ul>

<h3><a href="{% url 'core:add_item_to_list' list.id %}">Add new Item to List</a></h3>

<div id="addItem">
    <form method="POST" action="{% url 'core:add_item_to_list' list.id %}">
        {% csrf_token %}
        <input type="text" name="newItemText" />
        <input type="submit" value="Add Item" />
        {% csrf_token %}
    </form>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>