<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3><a href="{% url 'core:show_lists' %}">Back to Lists Index</a></h3>

<h2>Edit Item from List "{{ list.name }}"</h2>

<div id="editItem">
    <form method="POST" action="{% url 'core:edit_item' list.id item.id %}">
        {% csrf_token %}
        Text: <input type="text" name="newItemText" value="{{ item.text }}" /> <br/>
        Deadline: <input type="date" name="newItemDeadline" value='{{ item.deadline|date:"Y-m-d" }}' /> <br/>
        Done: <input type="checkbox" name="newItemDone" {% if item.done %}checked{% endif %} /> <br/>
        <input type="submit" value="Edit Item"/>
        {% csrf_token %}
    </form>
</div>

{% if messages %}
<h4>Feedback:</h4>
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>